<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Sample Suite">
    <listeners>
        <listener class-name="utils.ExtentReportListener"/>
    </listeners>
    <test name="Sample Test">
        <classes>
            <class name="tests.TestClassOne"/>
            <class name="tests.TestClassTwo"/>
        </classes>
    </test>
</suite>
